* {
  box-sizing: border-box;
  margin: 0px auto;
}
body{ 
  width: 960px;
  display: grid;
}
h1 {
  font-size: 5vh;
}
h2 {
  font-size: 4vh;
}
#wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
